# Data Science Tools and Ecosystem

### In this notebook, Data Science Tools and Ecosystem are summarized.

### __Objectives:__
- List popular languages for Data Science
- List of the commonly used libraries used by Data Scientists
- Examples of evaluating arithmetic expressions in Python

___Some of the popular languages that Data Scientists use are:___
1. Python
2. Java
3. C++
4. R
5. SQL
6. JavaScript

___Some of the commonly used libraries used by Data Scientists include:___
1. Matplotlib
2. Scikit-Learn
3. Pandas
4. Numpy
5. TensorFlow

|Data Science Tools|
|------------------|
|Jupyter Notebook|
|RStudio|
|Spyder|
|MLFlow|
|Pytorch|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [5]:
#This will convert 200 minutes to hours by diving by 60
print("Hours:",200/60)

Hours: 3.3333333333333335

## Author
Lisandro Agost